@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:before, .cf:after {
  content: '';
  display: table; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #eee; }

main div figure {
  height: 50vmin; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) {
    main div figure {
      height: 384px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) {
    main div figure {
      height: 160px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) {
    main div figure {
      height: 160px; } }
  @media (min-width: 1024px) {
    main div figure {
      height: 75vmin; } }
  @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) {
    main div figure {
      height: 576px; } }
  @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) {
    main div figure {
      height: 240px; } }
  @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) {
    main div figure {
      height: 240px; } }

html > body {
  font-size: 18px; }

body {
  font: 400 112.5%/125% 'Lato', sans-serif;
  color: #333; }
  body section h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 1.8rem; }
  body section a {
    color: #0BF;
    text-decoration: none; }

.button {
  display: inline-block;
  text-decoration: none;
  color: #eee;
  background-color: #0BF;
  text-transform: uppercase;
  padding: 10px 20px;
  border: solid #0BF 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.hero {
  background: linear-gradient(rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.3)), url("../img/blackbike.jpg") center/cover;
  height: 100vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .hero {
      height: 1024px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .hero {
      height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .hero {
      height: 480px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .hero {
      height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .hero {
      height: 568px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .hero {
      height: 320px; } }
  .hero div {
    padding: 2.5rem 1rem;
    width: 100%; }
  .hero h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 11vw;
    line-height: 90%;
    text-shadow: 0 1px 0 black;
    color: #eee; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .hero h1 {
        font-size: 84.48px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .hero h1 {
        font-size: 112.64px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .hero h1 {
        font-size: 35.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .hero h1 {
        font-size: 52.8px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .hero h1 {
        font-size: 35.2px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .hero h1 {
        font-size: 62.48px; } }
  .hero h1:nth-child(2) {
    font-weight: 300;
    font-size: 7vw; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .hero h1:nth-child(2) {
        font-size: 53.76px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .hero h1:nth-child(2) {
        font-size: 71.68px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .hero h1:nth-child(2) {
        font-size: 22.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .hero h1:nth-child(2) {
        font-size: 33.6px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .hero h1:nth-child(2) {
        font-size: 22.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .hero h1:nth-child(2) {
        font-size: 39.76px; } }
  .hero .button {
    margin-top: 4rem; }

.intro {
  padding: 2.5rem 0;
  background-color: #333; }
  @media (min-width: 1024px) {
    .intro {
      padding: 4.5rem 0; } }
  .intro p {
    color: #aaa;
    font-size: 1.5rem;
    text-align: center; }
    .intro p strong {
      color: #ccc;
      font-weight: 900; }

.location {
  background: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), url("../img/storefront_n.jpg") center/cover;
  color: #eee;
  padding: 3rem 0;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 1024px) {
    .location {
      height: 80vh; } }
  @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .location {
      height: 819.2px; } }
  @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .location {
      height: 614.4px; } }
  @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    .location {
      height: 384px; } }
  @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    .location {
      height: 256px; } }
  @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .location {
      height: 454.4px; } }
  @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    .location {
      height: 256px; } }
  .location h1 {
    color: #eee;
    font-size: 8vw;
    line-height: 100%;
    text-shadow: 0 1px 0 black; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .location h1 {
        font-size: 61.44px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .location h1 {
        font-size: 81.92px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
      .location h1 {
        font-size: 25.6px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
      .location h1 {
        font-size: 38.4px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
      .location h1 {
        font-size: 25.6px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
      .location h1 {
        font-size: 45.44px; } }
  .location a {
    display: block;
    font-size: 1.25rem; }
  .location .button {
    font-size: 1rem;
    display: inline-block;
    margin-top: 2rem; }
  .location div {
    width: 100%;
    padding: 1rem 2rem;
    padding-bottom: 2rem; }
  .location p {
    font-size: 1.25rem; }
  .location p:first-of-type {
    font-size: 1.25rem;
    color: #ccc;
    font-style: italic;
    font-weight: 400;
    line-height: 200%; }

.hours section {
  padding: 3rem 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 1024px) {
    .hours section {
      padding: 10rem 0; } }
  .hours section div {
    margin: 0 2rem; }
  @media (min-width: 1024px) {
    .hours section {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .hours section div {
        margin: 0 3rem; } }
  .hours section table {
    min-width: 215px;
    margin-bottom: 2.15rem; }
    .hours section table td {
      font-size: .9rem;
      padding-right: .3rem;
      text-align: right; }
      .hours section table td:first-child {
        text-align: left; }
  .hours section p {
    margin-bottom: 1.15rem; }
    @media (min-width: 600px) {
      .hours section p {
        max-width: 500px; } }
    .hours section p strong {
      font-weight: 900;
      color: #666; }
      .hours section p strong a {
        color: #0bf; }
  .hours section .button {
    margin-top: 2.15rem;
    margin-bottom: 1.15rem; }
  .hours section .center {
    text-align: center; }
    @media (min-width: 1024px) {
      .hours section .center {
        left: -35px;
        position: relative; } }

.specials {
  padding: 4.5rem 1rem;
  background-color: #333; }
  .specials section {
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .specials h1 {
    color: #eee;
    margin-bottom: 3rem; }
  .specials p {
    max-width: 550px;
    color: #aaa;
    font-size: 1.25rem;
    padding: 0 1rem; }
    .specials p strong {
      text-transform: uppercase;
      color: #ccc;
      font-weight: 900; }

.services figure {
  background: linear-gradient(rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.2)), url("../img/juan_wheelbuilding.jpg") center/cover;
  position: relative; }
  .services figure h1 {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    color: #eee;
    position: absolute;
    bottom: .3rem;
    right: 0; }
    @media (min-width: 600px) {
      .services figure h1 {
        font-size: 5rem;
        bottom: 1rem; } }
    @media (min-width: 1024px) {
      .services figure h1 {
        font-size: 8rem;
        bottom: 2rem; } }

.services section {
  padding: 3rem 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 1024px) {
    .services section {
      padding: 10rem 0; } }
  @media (min-width: 1024px) {
    .services section {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  .services section div {
    max-width: 600px;
    padding: 0 2rem; }
    @media (min-width: 1024px) {
      .services section div {
        max-width: 550px; } }
  .services section ul {
    list-style-position: inside;
    list-style-type: disc;
    margin: 2.5rem 0; }
  .services section p {
    margin-bottom: 1.15rem; }
    @media (min-width: 600px) {
      .services section p {
        max-width: 600px; } }
    .services section p strong {
      font-weight: 900;
      color: #666; }
    .services section p span {
      color: #999; }
  .services section a {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 2.3rem;
    margin-top: 1.15rem; }
  .services section img {
    margin-bottom: 1.15rem;
    width: 100%; }
    @media (max-width: 1023px) {
      .services section img {
        margin: 2.3rem 0; } }

.about figure {
  background: linear-gradient(rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.3)), url("../img/aboutus_hero.jpg") center/cover;
  position: relative; }
  .about figure h1 {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    color: #eee;
    position: absolute;
    bottom: .3rem;
    right: 0; }
    @media (min-width: 600px) {
      .about figure h1 {
        font-size: 5rem;
        bottom: 1rem; } }
    @media (min-width: 1024px) {
      .about figure h1 {
        font-size: 8rem;
        bottom: 2rem; } }

.about section {
  padding: 3rem 0; }
  @media (min-width: 1024px) {
    .about section {
      padding: 10rem 0; } }
  .about section .fb {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 1024px) {
      .about section .fb {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start; } }
  .about section .center {
    margin: 0 auto; }
    .about section .center p strong {
      display: inline-block; }
      .about section .center p strong::after {
        font-weight: normal;
        content: ","; }
  .about section .bio {
    max-width: 600px;
    padding: 0 2rem; }
    @media (min-width: 1024px) {
      .about section .bio {
        max-width: 550px; } }
    .about section .bio p {
      margin-bottom: 1.15rem; }
      .about section .bio p strong {
        font-weight: 900; }
      .about section .bio p span {
        font-style: italic; }
  .about section img {
    padding: 1.5rem 0;
    border-radius: 50%;
    max-width: 50%;
    margin: 0 auto;
    display: block; }

footer {
  font-size: .8rem;
  color: #eee;
  background-color: #333;
  box-shadow: inset 0 0 10px #111;
  padding-top: 2rem;
  padding-bottom: 1.15rem; }
  footer .copy {
    margin-top: 2.15rem;
    margin-bottom: 0;
    text-align: center;
    width: 100%; }
    footer .copy span {
      font-size: .7rem; }
  footer .fb {
    max-width: 900px;
    margin: 0 auto; }
    @media (min-width: 600px) {
      footer .fb {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; } }
    footer .fb div {
      max-width: 210px;
      margin: 0 auto;
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
      footer .fb div h1 {
        font-weight: 900;
        font-size: 1.15rem;
        text-transform: uppercase;
        color: #eee;
        margin-bottom: 1.15rem; }
      footer .fb div table {
        min-width: 215px;
        margin-bottom: 2.15rem; }
        footer .fb div table td {
          padding-right: .3rem;
          text-align: right; }
          footer .fb div table td:first-child {
            text-align: left; }
      footer .fb div a {
        color: #0BF;
        text-decoration: none; }
